.load-more {
  margin: 30px auto;
  display: block;
  width: 250px;
  padding: 10px;
  background-color: #e98e48;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.load-more:hover {
  background-color: #f5b56b;
}

.load-more:active {
  background-color: #39c7b1;
  position: relative;
  top: 5px;
}
